In [32]:
import pandas as pd
import numpy as np
import re
import string
import unicodedata

In [33]:
df = pd.read_csv('data/stop_steal_notDC.csv')

In [34]:
pd.set_option('display.max_columns', None)

In [35]:
df.drop(columns=['time', 'photos', 'video', 'timezone', 'place', 'language', 'cashtags', 'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'retweet_date', 'translate', 'trans_src', 'trans_dest'], inplace=True)

In [36]:
pd.set_option('display.max_rows', 50)

In [37]:
#df_short = df[0:10]

In [66]:
columnSeriesObj = df['tweet']
tweets = columnSeriesObj

In [67]:
# each tweet is one string

master_list = []
for i in tweets:
    words = i.split()
    table = str.maketrans('', '', string.punctuation)
    i = [w.translate(table) for w in words]
    i = " ".join(i)
    i = i.lower()
    i = re.sub(r'[^a-zA-Z0-9_\s]+', '', i)
    master_list.append(i)

In [68]:
tweets_df = pd.DataFrame(master_list, columns=['text'])

In [69]:
tweets_df.head(3)

                                                text
0  jeremynewberger marklevinshow petehegseth we d...
1  hawleymo simonschuster a lot of courts are goi...
2  frznsoonrmn missilmom wow  i wish this video w...

In [70]:
tweets_df.to_csv('data/tweet_text.csv', index=False)

In [ ]:
### Puts all tweets in one-line 'article'

In [80]:
single_string_list = []
master_string = " ".join(master_list)
single_string_list.append(master_string)

In [81]:
one_tweet_df = pd.DataFrame(single_string_list, columns=['text'])

In [83]:
one_tweet_df.to_csv('data/one_tweet_text.csv', index=False)