In [233]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import itertools
from itertools import combinations
from sklearn import preprocessing

In [234]:
df = pd.read_csv('small_hashtag_gephi.csv')

* Go through df row by row
* For each row, make a pair of tuples (edges) for each item in the row (permutations)
* Put first row of edges into new dataframe (df_edges)
* From then on, concatenate each new row of tuples onto df_edges
* Once done, groupby to count
* Put those you want to keep into new dataframe

In [235]:
edges_df = pd.DataFrame([None, None])
for index, row in df.iterrows():
    hold = [x for x in row.values if x == x]
    edges = (list(combinations(hold, 2)))
    edges_series=pd.Series(edges)
    new_edges_df = pd.DataFrame(edges_series)
    edges_df = edges_df.append(new_edges_df, ignore_index=True)

In [236]:
edges_df.rename(columns={0 : 'edges'}, inplace=True)

In [237]:
top_edges = edges_df['edges'].value_counts() [edges_df['edges'].value_counts() > 100].reset_index()

In [ ]:
#(edges_df['edges'].value_counts() > 100) && (edges_df['edges'].value_counts() < 2000) # this goes in brackets above

In [227]:
top_edges.rename(columns={'index' : 'edges', 'edges' : 'weight'}, inplace=True)

In [228]:
top_edges

                                            edges  weight
0                            (maga, stopthesteal)     969
1                            (stopthesteal, maga)     660
2                           (trump, stopthesteal)     543
3                   (marchfortrump, stopthesteal)     496
4                   (stopthesteal, fightfortrump)     481
..                                            ...     ...
58                         (stopthesteal, kraken)     102
59  (electionintegritymatters, electionfraud2020)     102
60           (electionintegritymatters, trumpwon)     102
61                  (electionfraud2020, trumpwon)     102
62                        (stopthesteal, america)     101

[63 rows x 2 columns]

In [229]:
# normalize weights
x = top_edges[['weight']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized = pd.DataFrame(x_scaled, columns=['weights'])
norm_weights=normalized['weights']

In [230]:
top_edges.insert(1, "weights", norm_weights, True)
top_edges.drop(columns=['weight'], inplace=True)

In [231]:
top_edges.head(3)

                   edges   weights
0   (maga, stopthesteal)  1.000000
1   (stopthesteal, maga)  0.644009
2  (trump, stopthesteal)  0.509217

In [232]:
top_edges.to_csv('data/weighted_edges100.csv')