In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import itertools
from itertools import combinations
from sklearn import preprocessing

In [3]:
df = pd.read_csv('data/small_mentions.csv')

* Go through df row by row
* For each row, make a pair of tuples (edges) for each item in the row (permutations)
* Put first row of edges into new dataframe (df_edges)
* From then on, concatenate each new row of tuples onto df_edges
* Once done, groupby to count
* Put those you want to keep into new dataframe

In [4]:
edges_df = pd.DataFrame([None, None])
for index, row in df.iterrows():
    hold = [x for x in row.values if x == x]
    edges = (list(combinations(hold, 2)))
    edges_series=pd.Series(edges)
    new_edges_df = pd.DataFrame(edges_series)
    edges_df = edges_df.append(new_edges_df, ignore_index=True)

In [5]:
edges_df

                                                    0
0                                                None
1                                                None
2                         (freedom2020, rhonda swift)
3                   (freedom2020, senate republicans)
4      (freedom2020, mike neanderthal mcnationalist❌)
...                                               ...
29635       (jennifer lynn lawrence, dustin stockton)
29636     (jennifer lynn lawrence, #trumpunitybridge)
29637            (kylie jane kremer, dustin stockton)
29638          (kylie jane kremer, #trumpunitybridge)
29639            (dustin stockton, #trumpunitybridge)

[29640 rows x 1 columns]

In [6]:
edges_df.rename(columns={0 : 'edges'}, inplace=True)

In [57]:
top_edges = edges_df['edges'].value_counts() [edges_df['edges'].value_counts() > 110].reset_index()

In [58]:
top_edges.rename(columns={'index' : 'edges', 'edges' : 'weight'}, inplace=True)

In [59]:
top_edges

                                     edges  weight
0              (one america news, newsmax)     167
1      (donald j. trump, senator ted cruz)     141
2  (house republicans, senate republicans)     125
3                   (gop, donald j. trump)     116
4    (senate republicans, donald j. trump)     115
5           (one america news, greg kelly)     114
6                    (newsmax, greg kelly)     114
7     (house republicans, donald j. trump)     112

In [60]:
# normalize weights
x = top_edges[['weight']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized = pd.DataFrame(x_scaled, columns=['weights'])
norm_weights=normalized['weights']

In [61]:
top_edges.insert(1, "weights", norm_weights, True)
top_edges.drop(columns=['weight'], inplace=True)

In [62]:
top_edges.head(3)

                                     edges   weights
0              (one america news, newsmax)  1.000000
1      (donald j. trump, senator ted cruz)  0.527273
2  (house republicans, senate republicans)  0.236364

In [63]:
top_edges.to_csv('data/weighted_mentions_edges110.csv')